ion-icon{
    font-size: 22px;
}
img
{
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 300px;
}
ion-col 
{
    ion-icon
    {
        font-size:36px;
    }
    border: 1px solid black;
    padding: 0px;
}
