<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-title>
      Udemy Course
    </ion-title>
    <ion-icon slot="end" name="card"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <ion-slides pager="false">
    <ion-slide>
      <img src="../../assets/banner.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/banner2.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/banner3.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/banner4.jpg" alt="">
    </ion-slide>
  </ion-slides>
</ion-content>
