<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-title>
      Udemy Course
    </ion-title>
    <ion-icon slot="end" name="snow"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <ion-slides pager="true">
    <ion-slide>
      <img src="../../assets/banner.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/banner2.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/banner3.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/banner4.jpg" alt="">
    </ion-slide>
  </ion-slides>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="3" text-center>
        <ion-icon name="cart"></ion-icon>
      </ion-col>
      <ion-col size="3" text-center>
        <ion-icon name="bicycle"></ion-icon>
      </ion-col>
      <ion-col size="3" text-center>
        <ion-icon name="fitness"></ion-icon>
      </ion-col>
      <ion-col size="3" text-center>
        <ion-icon name="medal"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card color="dark">
      <img src="../../assets/banner4.jpg" alt="">
  </ion-card>

  <ion-list>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="./../assets/banner3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>T-Shirt</h2>
        <p>
          This is the short description of the shirt am selling.
        </p>
        <ion-badge color="primary">$54</ion-badge>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="./../assets/banner3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>T-Shirt</h2>
        <p>
          This is the short description of the shirt am selling.
        </p>
        <ion-badge color="primary">$54</ion-badge>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="./../assets/banner3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>T-Shirt</h2>
        <p>
          This is the short description of the shirt am selling.
        </p>
        <ion-badge color="primary">$54</ion-badge>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>

    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="./../assets/banner3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h2>T-Shirt</h2>
        <p>
          This is the short description of the shirt am selling.
        </p>
        <ion-badge color="primary">$54</ion-badge>
      </ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
  
  </ion-list>  

</ion-content>
